*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.nav-bar{
   background-image: url(../img/fondo-navbar.png);
   background-position: center;
   background-size: cover;
   color: gray;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.nav-list{
    list-style-type: none;
}
.nav-list .list-item{
    display: inline-block;
    padding: 20px 10px;
}
.nav-list .list-item a{
    color: #222831;
    text-decoration: none;
    font-size: 2rem;
}
.nav-list .list-item a:hover{
    color: fuchsia;
}
section.bookstore-story{
    margin-left: 4%;
    margin-right: 4%; 
    margin-bottom: 4%;
    margin-top: 4%;   
}
article.content h3{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 4%;
}
section.img-texto{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
figcaption{
    text-align: center;
}
p.text-story{
    width: 50%;
    font-size: 1.1rem;
    line-height: 25px;
}
article blockquote{
    margin:0;
}
blockquote{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
blockquote p{
    padding: 2%;
    background-color: #F7F4FA;
    border-radius: 20px;
    margin-top: 2%;
}
blockquote p::before{
    content: '\201C';
}
blockquote p::after{
    content: '\201D';
}
.blockquote-title{
    margin-top: 1%;
}